@model MyApp2.Data.Quest
@using MyApp2.Data

@{
    ViewData["Title"] = "Редактирование задания";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="EditQuest" asp-controller="Admin" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" />
    </p>

    <p>
        <label asp-for="Description">Описание</label><br />
        <input type="text" asp-for="Description" />
    </p>

    <p>
        <label asp-for="Overdue">Срок выполнения</label><br />
        <input type="text" asp-for="Overdue" />
    </p>

    <p>
        <label asp-for="Price">Стоимость задания</label><br />
        <input type="text" asp-for="Price" />
    </p>

    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>