@model MyApp2.Data.Quest
@using MyApp2.Data

@{
    ViewData["Title"] = "Редактирование задания";
}
<h1>@ViewData["Title"]</h1>
<div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Редактирование задания</div>
    <div class="card-body">
        <form asp-action="EditQuest" asp-controller="User" asp-route-id="@Model.Id">
            <p>
                <label asp-for="Title">Название задания</label><br />
                <input type="text" asp-for="Title" />
            </p>

            <p>
                <label asp-for="Description">Описание</label><br />
                <input type="text" asp-for="Description" />
            </p>

            <p>
                <label asp-for="Overdue">Срок выполнения</label><br />
                <input type="text" asp-for="Overdue" />
            </p>

            <p>
                <label asp-for="Price">Стоимость задания</label><br />
                <input type="text" asp-for="Price" />
            </p>

            <p>
                <input type="submit" value="Сохранить" class="btn btn-addAns" />
            </p>
        </form>
    </div>
</div>