@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Зарегистрируйтесь или зайдите, чтобы продолжить</p>
    <img src="https://c1.35photo.pro/profile/photos/89/446921_bg.jpg" width="500px">
</div>
