body{
	transition: 1s;
}
.btn1{
	padding: 8px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 3px;
	font-size: 1em;
	margin-top: 1%;
	outline: none;
}

.btn1:hover{
	background:rgb(178 0 255)
}

.p1 {
	color: #000;
}
